@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.outer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toolbar {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
    padding: 20px;
    color: white;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    background-color: #A03037;
    z-index: 2;
}

.logo{
    margin-left: 10%;
    cursor: pointer;
}

.inner{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

h2{    
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.content{
    border: 1px solid rgb(215, 212, 212);
    border-radius: 5px;
    width: 425px;
}

.para{
    color: #878787;
    margin: 30px 60px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.email{
    margin: 20px 60px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.email input{
    width: 100%;
    height: 35px;
    font-size: 20px;
    border:1px solid black;
    border-radius: 3px;
    padding: 2px;
    outline-color: #A03037;
}

.r-btn{
    margin: 0px 60px 20px;
}
.r-btn button{
    width: 100%;
    height: 37px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    background-color: #A03037;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.c-btn{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    height: 100px;
    background-color: #F9F9F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-btn a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

form small{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    display: flex;
    visibility: hidden;
}

.email.error input{
    border: 2px solid rgb(249, 51, 51);
}
.email.error small{
    color: red;
}
