@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
    max-width: 100%;
    position: relative;
}

/* ======================================================= header ======================================================= */
header{
    position: fixed;
    width: 100%;
    top: 0;
}

.toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    width: 100%;
    padding: 20px;
    color: white;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    background-color: #A03037;
    z-index: 2;
}

.logo{
    cursor: pointer;
}

/* ======================== search ======================== */
.search {
    background: #FCFCFC;
    width: 35%;
    height: 40px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.search-text{
    border: none;
    background-color: #FCFCFC;
    outline: none;
    font-size: large;
    width: 87%;
    height: 100%;
}
.search-icon img{
    width: 25px;
    opacity: 0.6;
}
.search-icon{
    padding: 10px;
    padding-top: 15px;
}

/* ======================== user ======================== */
.user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px;
    width: 8%;
}

.user button img{
    width: 35px;
}

.user button{
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.person{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.cart{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

/* ======================================================= main ======================================================= */
main{
    margin-top: 5rem;
    min-height: calc(100vh - 5rem - 50px);
}

/* ======================================================= footer ======================================================= */
footer{
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #2E1D1E;
}

.f-content{
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding-left: 6%;
    padding-top: 15px;
}